.main {
    position:relative;
}

.toFlex {
    display: flex;
    justify-content: space-between;
}

.closeBtn {
    border-radius: 0.5rem;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    margin: 0 1rem;
    height: min-content;
    padding: 0.3rem;
}

.title {
    margin: 0;
    width: fit-content;
    color: white;
    height: min-content;
}

.details {
    display: flex;
    gap: 0.5rem;
    color: white;
    margin: 0 1rem;
}

.details h5 {
    height: min-content;
    margin: 0;
}

.img {
    width: 100%;
    border-radius: 14px;
}

.overview {
    color: white;
    padding: 0.5rem 1rem;
    margin: 0 auto;
}

.border {
    border: 2px solid rgb(2, 2, 2) ;

}