.movie {
    margin: 1rem 0.5rem;
    margin-top: 0;
}

.img {
    width: 12rem;
    border-radius: 1rem;
}

.title {
    font-family: monospace, sans-serif;
    display: inline;
    font-size: 1.5rem;
}

.description {
    margin: 0;
    font-size: 1rem;
}