.button {
    margin-bottom: 1rem;
    background-color: rgb(163, 73, 100);
    font: inherit;
    cursor: pointer;
    padding: 0.5rem 2rem;
    border-radius: 12px;
    border: 1px solid rgb(163, 73, 100);
    color: white;
}

.buttonMain {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}